.p_image{
    border: 3px solid #00cf9e;
    border-radius: 50%;
    height: 135.994px;
    width: 135.994px;
    padding: 2px;
    
    }
    
    .mainDiv{
        background-image: linear-gradient(#dfebee,#e1e5e7, #e5dcdc);
    }
    
    .iconImage{
        width: 2.5%;
    }
    
    body{
        padding: 0px;
        margin: 0px;
    }
    
    .description{
       font-size: 20px;
       font-family: 'sans-serif';
       color:#393d41
    }
    
    .name{
        color:#33322d;
        font-family: sans-serif;
        font-size: 26px;
    }

    .iconImage{
     /* padding:%; */
     margin: 3px;
    }